services:
  - type: web
    name: veganrag-chatbot
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
    plan: free
    autoDeploy: true

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9

      - key: HUGGINGFACEHUB_API_TOKEN
        sync: false

      - key: PINECONE_API_KEY
        sync: false

      - key: GROQ_API_KEY
        sync: false

      - key: GROQ_MODEL
        value: llama-3.3-70b-versatile